body h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #4e4d4d;
}

.gameMode{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameMode .btn-gamemode{
    width: 90px;
    border: 1px solid black;
    font-family: monospace;
    font-size: 22px;
    margin: 0 1%;
    color: black;
    background-color: white;
}

.gameMode #btn-player{
    color: white;
    background-color: black;
}

.gameMode .btn-gamemode:hover{
    cursor: pointer;
}


.currentTurn{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.xTurn, .oTurn{
    font-size: 45px;
    width: 55px;
    margin: 0 2%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #4e4d4d;
}

.xTurn{
    background-color: #4e4d4d ;
    color: white;
}

.board{
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 5% auto;
    background-color: #1b1b1b;
    color: #b9b9b9;
}

.cell{
    flex-grow: 1;
    width: 25%;
    height: 93px;
    text-align: center;
    line-height: 93px;
    border: white 1px solid;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.cell:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.announcer{
    display: none;
}

.announcer .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.announcer .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}

.announcer h1{
    color: white;
}

.btn-replay{
    width: 100%;
    padding: 7%;
    border: none;
    background-color: #cacaca;
    font-family: monospace;
    font-size: 20px;
}

.btn-replay:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
}


@media screen and (max-width: 480px)
{
    .gameMode{
        margin-top: 15%;
    }
    .gameMode .btn-gamemode{
        margin: 0 3%;
    }
    .currentTurn{
        margin-top: 15%;
    }

    .board{
        margin: 15% auto;
    }
}
