h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #4e4d4d;
}

.currentTurn{
    width: 180px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
}

.xTurn, .oTurn{
    font-size: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #4e4d4d;
}

.xTurn{
    float: left;
    width: 55px;
    background-color: #4e4d4d ;
    color: white;
}

.oTurn{
    float: right;
    width: 55px;
}

.board{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1b1b1b;
    color: #b9b9b9;
}

.cell{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: white 1px solid;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.cell:hover{
    background-color: #ffffff;
    color: black;
}

.announcer{
    display: none;
}

.announcer .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.announcer .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    z-index: 2;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}